mixin services()
  +b('section').services
    +b.container_flex
      +b('h2').services-head Наши работы
      +b.services-block
        +e.left
          +e('p').left__text Составление проектной документации
          +e('hr').left__hr
          +e('p').left__text Сопровождение проектов строительных объектов
          +e('hr').left__hr
          +e('p').left__text Генподрядные работы
          +e('hr').left__hr
          +e('p').left__text Монтаж бытовых и промышленных коммуникационных систем
          +e('hr').left__hr
          +e('p').left__text Монтаж систем видеонаблюдения, систем безопасности
          +e('hr').left__hr
          +e('p').left__text Установка локальных сетей, пожарной сигнализации
          +e('hr').left__hr
          +e('p').left__text Строительные работы (осуществляем монтаж любой
            | сложности, включая различные виды бронеконструкций
            | и банковского оборудования)
        +e.right
          +e('img')(src='assets/images/services_image.png' alt='')
          +e('img')(src='assets/images/services_image_2.png' alt='')
