@import "../../shared/sass/vars"

.advantages
  padding: 90px 0
  color: #ffffff
  background-color: $dark
  &__top
    display: flex
    justify-content: center
    align-items: flex-end
    font-weight: 800
    &-number
      margin-right: 10px
      font-size: 300px
      line-height: 0.5
    &-text
      font-size: 21px
    &-logo
      max-width: 300px
      margin-top: -15px
    &-main
      margin-bottom: -10px
  &__main
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 90px -15px 0
  &__item
    padding: 0 15px
    box-sizing: border-box
    margin-bottom: 15px
    &3
      width: calc(100% / 3)
      max-width: 330px
    &2
      width: 50%
    &-title
      display: flex
      align-items: center
      min-height: 90px
      margin-bottom: 15px
      font-weight: 800
      color: $orange
      font-size: 21px
      text-transform: uppercase
    &-img
      width: 80px
      padding-right: 15px
    &-text
      font-size: 15px
      line-height: 1.5em
