mixin about()
  +b('section').about(id="company")
    +b.container
      +b('h2').about-head О компании
      +b('p').about-text На сегодняшний день UENERGY - крупная строительная компания, реализующая различные строительные
        | проекты по всей России и СНГ. Несмотря на молодость, наш профессиональный коллектив объединен единой целью -
        | стремление к совершенству в своей работе. Компания с момента своего основания в 2015 году руководствуется в
        | своей деятельности несколькими важными принципами: качеством работ, стремлением к инновациям, гибкостью ценовой
        | политики и оригинальностью реализуемых проектов.
      +b('p').about-text UENERGY обладает всеми необходимыми ресурсами для проведения строительных и ремонтных работ
        | любой сложности. Наши специалисты ответственно подходят к выполнению любого роекта, поэтому на первом этапе
        | вы получаете четко и грамотно составленную смету работ, а по факту - идеально выполненный заказ.
        | Мы работаем исключительно с надежными поставщиками, обеспечивающими нас качественными строительными материалами.
        | Поэтому наша компания гарантирует качество работ в целом, а прямые поставки позволяют предложить вам оптимальную
        | цену на услуги. Таким образом, сотрудничая с нами, можно получить бесценое преимущество - идеальное сочетание
        | цены и качества.
      +b('p').about-text Помимо разработки и реализации строительных пректов, мы рады предоставить грамотную консультацию
        | любому из наших клиентов. Профессиональная поддержка заказчиков в решении сложных ситуаций - одна из приоритетных
        | задач компании, выдь мы работаем на долгосрочную прспективу.

  +b('section').about-slider
    +b.slider-about
      +e.item
        +e('img')(src='assets/images/about_slider_1.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Gloria Jeans
        +e('p').item__bottom-text Gloria Jeans
      +e.item
        +e('img')(src='assets/images/about_slider_2.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Lego Group
        +e('p').item__bottom-text Lego Group
      +e.item
        +e('img')(src='assets/images/about_slider_3.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Samsung
        +e('p').item__bottom-text Samsung
      +e.item
        +e('img')(src='assets/images/about_slider_4.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Sony Centre
        +e('p').item__bottom-text Sony Centre
      +e.item
        +e('img')(src='assets/images/about_slider_1.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Gloria Jeans
        +e('p').item__bottom-text Gloria Jeans
      +e.item
        +e('img')(src='assets/images/about_slider_2.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Lego Group
        +e('p').item__bottom-text Lego Group
      +e.item
        +e('img')(src='assets/images/about_slider_3.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Samsung
        +e('p').item__bottom-text Samsung
      +e.item
        +e('img')(src='assets/images/about_slider_4.png' alt='')
        +b.bgSlider
        +e('p').item__text
          | Объекты
          <br>
          +e('span') Sony Centre
        +e('p').item__bottom-text Sony Centre
