.partners
  padding: 90px 0
  background-color: #ebebeb
  @media (max-width: 767px)
    padding: 60px 0 120px
  &__slick
    margin: 40px 85px 0
    @media (max-width: 767px)
      margin: 40px 0 0
    .slick-track
      display: flex
      align-items: center
    &-item
      margin: 0 40px
      @media (max-width: 767px)
        margin: 0 15px
      img
        max-height: 100px
        @media (max-width: 767px)
          max-height: 70px
    &-btn
      position: absolute
      top: 50%
      z-index: 1
      background-color: transparent
      border: none
      transform: translateY(-50%)
      cursor: pointer
      @media (max-width: 767px)
        top: calc(100% + 50px)
    &-prev
      left: -160px
      @media (max-width: 1200px)
        left: -100px
      @media (max-width: 767px)
        left: 0
    &-next
      right: -160px
      @media (max-width: 1200px)
        right: -100px
      @media (max-width: 767px)
        right: 0
