mixin map()
  +b.map
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d294148.1568000955!2d-74.1174277!3d40.6990326!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e1!3m2!1sru!2sua!4v1540297647922" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
